{
  "stage": 2,
  "env": {
    "NODE_ENV":{
      "development": {
        "plugins": [
          "react-transform"
        ],
        "extra": {
          "react-transform": {
            "transforms": [{
              "transform": "react-transform-hmr",
              "imports": ["react"],
              "locals":  ["module"]
            }]
          }
        }
      }
    }
  }
}
